body {
}

#con {
    background-image: url('https://www.lundimatin.co.uk/wp-content/uploads/2024/07/test2-baniere-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jq:hover {
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.7);
}
